@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Yeseva+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Yeseva One', cursive; */
}
body {
    background-color: #f9bad1;
    padding: 1rem;
}
h1, h2, h3 {
    color: #FF0000;
    font-family: 'Yeseva One', cursive;
    margin: 1rem 0 1rem 0;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 43px;
    
}
h3 {
    font-size: 32px;
    
    text-align: center;
}
header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 20vh;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
#toggle, #toggle-close {
    z-index: 9999;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    color: #FF0000;
}

#toggle-close {
    display: none;
}
#menu-links{
    display: none;

    background-color: #f9bad1;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
   
}
#menu-links li {
    margin: 1rem;
    font-size: 20px;
    color: #FF0000;
    font-family: 'Yeseva One', cursive;
}
.active {
    color: #FF0000;
    font-weight: bold;
}
#start-page {
    /* padding: 1rem; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
}
#img-container {
    width: 50vw;
    height: 50vh;
    background-image: url(images/IMG_9084.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}

#about-me-page {
    margin-top: 3rem;
    /* height: 100vh; */
    width: 100%;
    /* padding: 1rem 1rem 1rem 1rem; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
    justify-content: space-evenly;

}
#about-me-big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#about-me-container-2 {
margin: 1rem;
}
#interests-rows {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#interests-rows #interests-row-1, #interests-rows #interests-row-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-weight: bold;
}
#about-me-container-3 ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
#about-me-container-3 ul li p {
    
}

#about-me-container-3 ul li div {
    background-color: #FFF8F9;
    width: 200px;
    height: 12px;
    

}

@media only screen and (min-width: 768px) {
    #toggle {
        display: none;
    }
    #menu-links{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style-type: none;
        width: 100%;
        height: 100%;
    }
    #menu-links li {
        font-family: 'Manrope', sans-serif;
        color: #1c1c1c;
    }
    #start-page {
        flex-direction: row;
    }
    
}