@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Yeseva+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Yeseva One', cursive; */
}

body {
    background-color: #f9bad1;
    padding: 1rem;
}

h1,
h2,
h3 {
    color: #FF0000;
    font-family: 'Yeseva One', cursive;
    margin: 1rem 0 1rem 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 43px;

}

h3 {
    font-size: 32px;

    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 20vh;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

#toggle,
#toggle-close {
    z-index: 9999;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    color: #FF0000;
}

#toggle-close {
    display: none;
}

#menu-links {
    display: none;

    background-color: #f9bad1;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;

}

#menu-links li {
    margin: 1rem;
    font-size: 20px;
    color: #FF0000;
    font-family: 'Yeseva One', cursive;
}

.active {
    color: #FF0000;
    font-weight: bold;
}

#start-page {
    /* padding: 1rem; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#img-container {
    width: 50vw;
    height: 50vh;
    background-image: url(images/IMG_9084.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}

#about-me-page {
    margin-top: 3rem;
    /* height: 100vh; */
    width: 100%;
    /* padding: 1rem 1rem 1rem 1rem; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly;

}

#about-me-big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#about-me-container-2 {
    /* margin: 1rem; */
}

#interests-rows {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#interests-rows #interests-row-1,
#interests-rows #interests-row-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-weight: bold;
}

#about-me-container-3 ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#about-me-container-3 ul li p {
    font-weight: 500;
}

#about-me-container-3 ul li div {
    background-color: #FFF8F9;
    width: 200px;
    height: 12px;
    position: relative;
}

#HTML5-div::after {
    content: "";
    background-color: #FF0000;
    width: 100%;
    height: 100%;
    position: absolute;
}
#CSS-div::after {
    content: "";
    background-color: #FF0000;
    width: 98%;
    height: 100%;
    position: absolute;
}
#JavaScript-div::after {
    content: "";
    background-color: #FF0000;
    width: 92%;
    height: 100%;
    position: absolute;
}
#Nodejs-div::after {
    content: "";
    background-color: #FF0000;
    width: 50%;
    height: 100%;
    position: absolute;
}
#Websocket-div::after {
    content: "";
    background-color: #FF0000;
    width: 70%;
    height: 100%;
    position: absolute;
}
#React-div::after {
    content: "";
    background-color: #FF0000;
    width: 50%;
    height: 100%;
    position: absolute;
}
#SASS-div::after {
    content: "";
    background-color: #FF0000;
    width: 60%;
    height: 100%;
    position: absolute;
}
#Express-div::after {
    content: "";
    background-color: #FF0000;
    width: 50%;
    height: 100%;
    position: absolute;
}
#CanvasAPI-div::after {
    content: "";
    background-color: #FF0000;
    width: 70%;
    height: 100%;
    position: absolute;
}
#Wordpress-div::after {
    content: "";
    background-color: #FF0000;
    width: 83%;
    height: 100%;
    position: absolute;
}
#GitHub-div::after {
    content: "";
    background-color: #FF0000;
    width: 60%;
    height: 100%;
    position: absolute;
}
#Figma-div::after {
    content: "";
    background-color: #FF0000;
    width: 75%;
    height: 100%;
    position: absolute;
}

#about-me-container-4 #language-circles {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#about-me-container-4 #language-circles div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid #FFF8F9;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#about-me-container-4 #language-circles #swedish-circle {
    border: 3px solid #FF0000;
}
#about-me-container-4 #language-circles #english-circle {
    position: relative;
}
#about-me-container-4 #language-circles #english-circle #arc-start {
    border-color: transparent #FF0000 #FF0000 #FF0000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
}

#about-me-container-4 #language-circles #english-circle #arc-end {
    border-color: #FF0000 #FF0000 #FF0000 transparent;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
    position: absolute;
}

@media only screen and (min-width: 768px) {
    #toggle {
        display: none;
    }

    #menu-links {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style-type: none;
        width: 100%;
        height: 100%;
    }

    #menu-links li {
        font-family: 'Manrope', sans-serif;
        color: #1c1c1c;
    }

    #start-page {
        flex-direction: row;
    }

}